<div id='chatroom'>
	<div id='chathistory'>
	5:11pm - John: This is the first chat line on this site.


	</div>
	<div>
		<input type='text' size=65 id='chatline' name='chatline' value='' placeholder='Chat here...'>&nbsp;
		<button>POST</button>
	</div>

</div>