<div id='login'>
	<fieldset>
		<legend>Login Here</legend>
		<label for='name'>Your Name</label><br>
		<input type='text' name='name' class='inptxt' size=40 maxlength=40><br>
		<div id='entbuttons'>
			<button id='cancel'>CANCEL</button>&nbsp;<button id='ok'>GO CHAT</button>
		</div>
	</fieldset>
</div>